<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sdp.Properties.Settings.sdpConnectionString" connectionString="server=localhost;user id=root;database=sdp;allowuservariables=True;password=123456;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="sdp.Properties.Settings.sdp2ConnectionString" connectionString="server=localhost;user id=root;database=sdp2"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>